* {
  box-sizing: border-box;
}


.grid {
  text-align: center;
}

.col-4 {
  width: 33.3333333333%;
}

.grid > * {
  float: left;
  padding-right: 1em;
}




* {
  box-sizing: border-box;
}


.gridcompetences {
  text-align: center;
  float: left;
}

.colcompetences {
  width: 33.3333333333%;
}

.grid > * {
  
  padding-right: 1em;
}

