html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #F2F2F2;
	margin: 0;
    /*scroll-behavior: smooth;
  overflow-y: scroll;*/
}

a:link { 
    text-decoration:none; 
    color: grey;
} 
/*
a:visited {
    color: grey;
}
*/

/* ///// BOUTONS ///// */

.btn {
	cursor: pointer;
	text-align:center;
	font-weight: bolder;
}


/* ////// Gros titres ///// */
.titre {
    letter-spacing: 5px;
    line-height: 4em;
    font-size: 2em;
    color: #394259;
    text-align: center;
}

  




/* ////////// HEADER ////////// */


.header-logo {
    position: absolute;
    left: 20%;
    transform: translateX(-20%);
    width: 6%;
}

.header-menu {
    position:fixed;
    z-index:9999;
    top:0;   
    margin: 0;
    text-align: center;
    width:100%;
    background-color:white;
}

.header-menu a {
    text-decoration: none;
    padding: 1em;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
}


.header-menu a:hover{
    background-color: rgb(46, 164, 191, 0.3);
    /*background-color: rgb(255, 147, 30, 0.3);*/
    /*color: white;*/
    transition-duration: 1.5s;
}

.header-menu a.active {
    background-color: #2EA4BF;
    color: white;
}


.menu-deroulant {
     display: none;
}

/* ////// A PROPOS ////// */

#accueil {
    position:relative;
}



.bouton_bannere {
    border-radius: 5px;
    padding: 10px;
    /* background: linear-gradient(60deg, #2988D6, #2EA4BF); */
    color: #FF931E;
    position: absolute;
    background-color: white;
    width: 200px;
    text-align: center;
    height: 60px;
    line-height: 40px;
    font-size: 16px;
}

#boutongauche {
    left: 15%;
    top: 82%; 
}

#boutondroite {
    right: 15%;
    top: 82%; 
}

#boutongauche:hover, #boutondroite:hover {
    background-color: #FF931E;
    color: white;
}

.typewrite {
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

 #logo-banner {
    bottom: 20px;
    position: absolute;
    width: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(0);
}



/* /////  PORTFOLIO   ///// */


#cadre {
    box-shadow: 0 0 30px #d9d9d9;	
}


/* ////// Barre de trie ////// */

#categories_nav  {
    cursor: pointer;
    text-align:center;
    margin-bottom: 10px;
}

#categories_nav a {
    text-decoration: none;
    padding: 1em;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    color: #394259;
}

#categories_nav a.active {
    background-color: rgb(46, 164, 191, 0.5);
    color: white;
}

#categories_nav a:hover{
    background-color: rgb(46, 164, 191, 0.5);
   /* background-color: rgb(255, 147, 30, 0.3);*/
    color: white;
    transition-duration: 1.5s;
}

/* ///// Articles grille ///// */

#articles {
	/*height: auto;*/
    min-height: 369px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-rows: auto auto auto auto;
	grid-auto-rows: minmax(250px, auto);*/
	padding: 30px;
	grid-gap: 30px;
    grid-auto-rows: 330px;
	
}

.portfolio {
    display: block;
    position: relative;
    /*height: max-content;*/
    background-size: cover;
}

.portfolio:hover {
    position: relative;
}

/* A REVOIR*/

.articles-over{
    position: absolute;
    /*background: rgba(0,0,0,0.7);*/
    background: rgba(100,164,191,0.7);
    top: 10px;
    bottom: 10px;
    left:10px;
    right: 10px;
    opacity: 0;
    text-align: center;
    transition: opacity 300ms ease-in-out;
}

.articles-over > span{
    position: absolute;
    width: 100%;
    font-size: 20pt;
    font-weight: bold;
    color: #FF931E;
    /*top:100%;*/
    top:10px;
    left:0; /* on met le titre le plus a gauche possible **/
    overflow: hidden;
    /*transform: translateY(-50%);*/
    transition: top 200ms ease-in-out;
}

.portfolio a:hover .articles-over{
    opacity: 1;
}

/*
.portfolio a:hover .articles-over > span{
    top:50%;   
}*/

.portfolio .articles-over p {
    font-size: 12pt;
    color: white;
    text-align: left;
    padding: 20px;
    font-weight: normal;
}

.portfolio .articles-over p:last-child {
    font-size: 12pt;
    color:white;
    text-align: center;
}

.portfolio .articles-over p:first-child {
    font-size: 14pt;
    color:orange;
    text-align: left;
    font-weight:bold;
}

/* Jusqu'ici ^ */

.portfolio img {
    width: 100%;
    height: auto;
}



/* ///// COMPETENCES ///// */ 
/*
#grid-competences {
    text-align:center;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
}

#grid-competences h3 {
    color: #2EA4BF;
    padding-bottom: 10px;
}



#grid-competences ul li {
    list-style-type: none;
    padding-top:5px;
}

*/


#listecomp {
	text-align:center;
	padding:20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:30px;
}

#listecomp h3 {
    color: #2EA4BF;
}

#listecomp p {
    font-size:20pt;
    color: #2EA4BF;
}
/*
#listecomp p .orange {
    color: #FF931E;
}*/

#listecomp > div {
    margin-bottom: 80px;
}


.progressbar {
    background-color: #394259;
    border-radius: 10px;
    padding: 4px;
    margin:10px;
    width: 65%;
    display: inline-block;
    color:white;
    text-align: center;

}

.progressbar > div {
    background-color: #FF931E;
    width: 48%;
    height: 20px;
    border-radius: 7px;
    position:relative;
}


.progressbar2 {
    background-color: #394259;
    border-radius: 10px;
    padding: 4px;
    margin:10px;
    width: 40%;
    display: inline-block;
    color:white;
    text-align: center;

}

.progressbar2 > div {
    background-color: #FF931E;
    width: 48%;
    height: 20px;
    border-radius: 7px;
    position:relative;
}

.progressbar #ph {
    width: 76%; 
}
.progressbar #il {
    width: 55%; 
}
.progressbar #au {
    width: 75%; 
}
.progressbar #pp {
    width: 65%; 
}
.progressbar #ch {
    width: 45%; 
}
.progressbar #reseau {
    width: 45%;
}

#listecomp .details {
    color: #2EA4BF;
    background-color: white;
    border: 1px solid #2EA4BF;
    padding: 3px 12px 3px 12px;
    font-size: medium;

}

/* BANNIERE PROFIL */

#banniereapropos {
    height: 50em ;
    background-image: url("img/encore221.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    position:relative;
    filter: brightness(0.15);

}


#apropos p {
	width: 26em;
    /* height: 14em; */
    padding: 20px;
    font-size: 1.2em;
    left: 57em;
    top: 19em;
    box-shadow: 0 0 30px #14141f;
    border-radius: 12px;
    background-color: rgba(224, 224, 235, 0.5);
    /*position: absolute;*/
    word-wrap: break-word;
    line-height: 1.5em;
}





#barreprogresscontact{
	width: 30%;
	height: 10px;
	border-radius: 15px;
	background-color: black;
	margin-left:35%;
}

#barreprogresscontact:before{
	width: 25%;
	position:absolute;
	height: 10px;
	border-radius: 15px;
	background-color: green;
	content: '';
    display: block;

}


/* CONTACT */

/*#contact {
    background-image: url(img/image2.jpg);
}*/

/* FORMULAIRE */
#formcontact  {
	display:block;
	text-align:center;
    padding: 2em;
}

form textarea {
    font-weight: bolder;
    padding-left:5px;
    margin-top:1%;
    width:51%;
}

.form_info {
  	width: 15em;
    height: 5em;
    font-weight: bolder;
    padding-left:5px;
}

#envoyer {
    width:15em;
    height:5em;
}

#envoyer:hover {
    background-color: #2EA4BF;
}

/* FOOTER */

#footer {
	/*background-color: #D8D8D8;*/
	background-color: #394259;
	color: white;
	height: 100px;
	padding:10px;
	position: relative;
	text-align: center;
}

#copy {
    transform: translateY(50%);
    font-size: 10pt;
}

#footer > a > img {
    width:50px;
    padding: 10px;
}



/* /////////// MODAL /////////// */


/* The modal's background */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Display the modal when targeted */
.modal:target {
    display: table;
    position: fixed;
    z-index: 99999999999999999;
}

/* The modal box */
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.8);
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #394259;
}

.closebtn:hover,
.closebtn:focus {
  color: #FF931E;
  text-decoration: none;
  cursor: pointer;
}

.container {
    padding: 2px 16px;
    word-wrap: break-word;
    max-height: 500px;
    overflow: auto;
}

.modal-content > .container, ul {
    padding-left: 20px;
    line-height: 1.8em;
}

.modal-content > .container > img {
    float: right;
    width: 50%;
    padding: 0 0px 0 20px;
}

.headermodal {
  background-color: #2EA4BF;
  font-size: 20px;
  color: white;
}

.footermodal {
    background-color: #2EA4BF;
    font-size: 14px;
    color: white;
    text-align: left;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
}










/*Ecran tablette */
@media screen and (min-width: 0px) and (max-width: 768px){



    .titre {
        letter-spacing: 5px;
        line-height: 2em;
        font-size: 1.3em;
        color: #394259;
        text-align: center;
    }


/* ///////// MENU NAV //////////// */

    .header {
        position:relative;
    }

    .header-logo {
        position: absolute;
        top: -25px;
        left: 0px;
    }

    
    .menu-deroulant{
        display:block;
    }

    a .menu-fermer {
        display:none;
    }
    #menu-nav a {
        border-top:1px solid black;
        display: block;
    }

    #menu-nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.6s ease;
    }

    #main-header:target .menu-fermer{
        display:inline;
    }

    #main-header:target .menu-ouvert{
        display:none;
    }

    #main-header:target #menu-nav {
        max-height: 1000px;
    }



/* ///////////// BANNIERE ////////////// */

    #boutondroite {
        top: 85%;
        right: 80px;
        background: #ffffff3d;
    }

    #boutongauche {
        left: 80px;
        top: 75%;
        background: #ffffff3d;
    }




/* ////////// COMPETENCES /////////// */

    #listecomp {
        grid-template-columns: 1fr;
    }

    #grid-competences {
        grid-template-columns: 1fr;
    }



/* ////////// PORTFOLIO /////////// */

    #articles {
        /*height: auto;*/
        grid-template-columns: 1fr;
        /*grid-template-rows: auto auto auto auto;
        grid-auto-rows: minmax(250px, auto);*/
        padding: 15px;
        grid-gap: 15px;
    }


    .portfolio {
        position: relative;
    }

    .portfolio a .articles-over{
        opacity: 1;
    }


.articles-over > span{
    font-size: 16pt;
    top:5px;
}

.portfolio .articles-over p {
    font-size: 12pt;
    padding-left: 10px;
    padding-top:5px;
}

.portfolio .articles-over p:last-child {
    font-size: 10pt; 
}



/* Articles */

/*image de background*/
.modal {
    background-size: contain;
}

.modal-dialog .modal-content {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    /* text-align: justify; */
    /* width: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: example;
    -webkit-animation-duration: 0.5s;
    animation-name: example;
    animation-duration: 0.5s;
}

/* ////////// CONTACT /////////// */

    .form_info {
        width: 100%;
        height: 5em;
        font-weight: bolder;
        padding-left: 5px;
        margin-bottom: 15px;
    }

    form textarea {
        font-weight: bolder;
        padding-left: 5px;
        margin-bottom: 15px;
        width: 100%;
    }





}



